::selection { 
    background: #78ab4e; 
}

.app-header-card {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: -100px;
    transform: translateY(-100px);
}

.app-header-banner {
    margin-top: 64px;
}

.app-leftIcon {
    font-size: inherit !important;
}

.app-main-block {
    margin-top: 24px;
}

.app-main-skills {
    width: 70%;
    margin: auto;
}

.app-main-education {
    width: 95%;
    margin: auto;
}
.app-main-experience {
    width: 95%;
    margin: auto;
}
.app-main-languages {
    width: 70%;
    margin: auto;
}

.app-footer-tools {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.app-footer-svg{
    height: 56px;
    width: 56px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 599px) {

    .app-header-card {
        width: 90%;
        margin-bottom: -51px;
        transform: translateY(-75px);
    }

    .app-header-banner {
        margin-top: 56px;
    }

    .app-main-skills {
        width: 90%;
    }
    
    .app-main-experience {
        width: 90%;
    }
    .app-main-languages {
        width: 90%;
    }

    .app-footer-svg{
        height: 40px;
        width: 40px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media all and (min-width: 600px) and (max-width: 959px) {}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 960px) and (max-width: 1279px) {}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 1280px) and (max-width: 1919px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media all and (min-width: 1920px) {}