.expr-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.expr-mission {
    flex-basis: 50%;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 599px) {

    .expr-root {
        flex-direction: column;
    }

    .expr-mission {
        flex-basis: auto;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media all and (min-width: 600px) and (max-width: 959px) {
    .expr-root {
        flex-direction: column;
    }

    .expr-mission {
        flex-basis: auto;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 960px) and (max-width: 1279px) {}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 1280px) and (max-width: 1919px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media all and (min-width: 1920px) {}