.bnr-root {
    background-image: url('banner3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bnr-banner-dimention {
    height: 300px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 599px) {
    .bnr-banner-dimention {
        height: 200px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media all and (min-width: 600px) and (max-width: 959px) {}

/* // Medium devices (tablets, 768px and up) */
@media all and (min-width: 960px) and (max-width: 1279px) {}

/* // Large devices (desktops, 992px and up) */
@media all and (min-width: 1280px) and (max-width: 1919px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media all and (min-width: 1920px) {}